
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distant Horizon is Fallin'</h1>
<h3>This view page is created by our</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Departmant</th>
    </tr>
    <tr>
        <td>1</td>
        <td>John</td>
        <td>MC</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jackson</td>
        <td>MC</td>
    </tr>
</table>
