<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
            © @DateTime.Now.Year All Rights Reserved | Design by Burak Beyter
        </span>
    </div>
</footer>